html(lang="de")
    head
        link(rel="icon", href="/public/favicon.ico")
        link(rel="stylesheet", href="/public/css/main.css")
        link(rel="stylesheet", href="/public/css/gamePage.css")
        title Login

    body
        div(class="container")
            include navbar
            p(class="titlebar") Login

            div(class="content-box")
                div(class="mainbox", style="width: 1070px; height: 800px")
                    div(class="loginBox")
                        form(action="/login" method="post")
                            if session.loggedout
                                h3 Erfolgreich ausgeloggt!
                            h3 Mit bestehendem Account anmelden
                            h5 Nutzername
                            input(name="username" maxlength="16" type="text")
                            h5 Passwort
                            input(name="password" maxlength="16" type="password")
                            button(name="login" type="submit") Login
                            h3(style="font-size: 16px") Noch keinen Account?
                        button(name="signUp" style="margin-top: 10px; color: rebeccapurple; background-color: lavender" type="submit")
                            a(href="/signup") Sign Up