html(lang="de")
    head
        link(rel="icon", href="/public/favicon.ico")
        link(rel="stylesheet", href="/public/css/main.css")
        link(rel="stylesheet", href="/public/css/gamePage.css")
        title Login

    body
        div(class="container")
            include navbar
            p(class="titlebar") Registrieren

            div(class="content-box")
                div(class="mainbox", style="width: 1070px; height: 800px")
                    div(class="loginBox")
                        form(action="/signup" method="post")
                            h3 Neuen Account erstellen
                            h5 Nutzername
                            input(name="username" maxlength="16" type="text")
                            h5 Passwort
                            input(name="password" maxlength="16" type="password")
                            button(name="signUp" type="submit") Sign Up