.bigSearchbar input[type=text] {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 265px;
  padding: 13px;
  font-size: 18px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  float: left;
  height: 50px;
  width: 500px;
  background: #f1f1f1;
}

.bigSearchbar button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 265px;
  float: left;
  width: 50px;
  height: 50px;
  padding: 10px;
  background: lavender;
  color: rebeccapurple;
  font-size: 16.5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  cursor: pointer;
}

.bigSearchbar::after {
  content: "";
  clear: both;
  display: table;
}


.search-results {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.search-results li {
  background: lavender;
  margin-left: 5px;
  margin-right: 5px;
  width: 1050px;
  border: solid rebeccapurple 1px;
  border-left: 1px;
  border-right: 1px;
  float: left;
  padding: 5px;
  display: table;
}

.search-results a {
  color: #333333;
  alignment: center;
  padding: 0;
  margin: 0;
}

.search-results a:hover {
  text-decoration: underline;
}

.search-results p {
  margin: 0 0 0 10px;
}

.search-results img {
  alignment: center;
  margin-top: auto;
  margin-bottom: auto;
  max-height: 300px;
  max-width: 150px;
  border: solid gray 1px;
}

.search-results-info {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}

.search-results-info h4 {
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 0;
  margin-left: 10px;
}

.search-results-info p {
  text-align: justify;
  margin-left: 10px;
  padding: 0;
  width: 800px;
}
